@media screen and (max-width:1300px){
    .hidden-1300 {
        display: none !important;
    }

    .display-1300 {
        width: 72% !important;
    }
}

@media screen and (max-width:700px){
    .hidden-1100 {
        display: none !important;
    }

    .margin-left{
        margin-left: 0px !important;
    }
    .display-1100 {
        width: 100% !important;
    }
}

@media screen and (min-width:700px){
    .hidden-navigation-1100 {
        display: none !important;
    }

}

.narrow-navigation{
    background: white;
    text-align: left;
    width: 300px;
    height: 100%;
}

.narrow-navigation a{
    color: red;
}

.narrow-navigation li {
    margin-top: 10px;
    padding: 5px;
}

.narrow-courses {
    background: white;
    text-align: left;
    width: 300px;
    height: 100%;
}

.narrow-courses li {
    margin-top: 4px;
    padding: 4px;
}

.narrow-courses a{
    color: red;
}

.list-group a button{
    padding: 0px;
    margin-left: 15px;
}

.button-ellipsis {
    margin-right: 3px;
    background-color: #f5f5f5;
    color: #2d3b45;
    border-color: #c7cdd1
}

.button-module{
    margin-right: 3px;
}

.div-publish-all{
    margin-right: 3px;
}

.button-publish-all{
    margin-right: 3px;
    background-color: #f5f5f5;
    color: #2d3b45;
    border-color: #c7cdd1
}

.button-view-progress{
    margin-right: 3px;
    background-color: #f5f5f5;
    color: #2d3b45;
    border-color: #c7cdd1
}

.button-collapse{
    margin-right: 3px;
    background-color: #f5f5f5;
    color: #2d3b45;
    border-color: #c7cdd1
}

.hr-style{
    align:left;
    width:100%;
    color:#2F4F4F;
}

.list-group-font-small{
    font-size: small;
}

.list-group-check-circle{
    color: green;
}

.list-group-indentation{
    padding-left: 20px;
    display: inline
}

.hidden-1300 .button-unpublish{
    margin-right: 3px;
    background-color: #f5f5f5;
    color: #2d3b45;
    border-color: #c7cdd1
}

.hidden-1300 .button-published{
    margin-right: 3px;
    background-color: green
}

.right-list-group{
    margin-top: 5px;
}