@media screen and (max-width:700px){
    .hidden-1100 {
        display: none !important;
    }

    .margin-left{
        margin-left: 0px !important;
    }
    .display-1100 {
        width: 100% !important;
    }
}