.navigation{
    background: black;
    text-align: center;
    width: 85px;
    height: 100%;
}

.navigation li {
    margin-bottom: 10px;
    padding: 5px;
}

.navigation a{
    color: white;
}

.active{
    background-color: white;
}

.navigation .active a{
    color: red;
}